

<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="section-title">
                    <h2>Nos Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Optimiser les coûts</h5>
                        <p>Pour chacun d’entre nous, la Relation Clients est considérée comme un Centre de Profits.
                            Nous sommes également votre partenaire dans la gestion ROIsée de votre budget Relation Clients.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa-solid fa-arrow-trend-up"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Développer votre Chiffre d’Affaires</h5>
                        <p>Chaque interaction avec vos Clients est l’opportunité de les fidéliser à travers la qualité du service mais aussi par la concrétisation des intentions d’achats.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Adapter le savoir-être aux profils « sectoriels » de vos Clients</h5>
                        <p>Nous avons développé une approche 100% adaptée au profil spécifique de vos Clients.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1 features">
                    <div class="icon">
                        <i class="fa-solid fa-handshake"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Transformer l’Expérience en Enchantement Clients</h5>
                        <p>Respecter les conditions d’achat d’un service n’est pour vos Clients qu’un prérequis qui offre une expérience « normale » avec la marque… Gérer parfaitement une anomalie assure à ce même Client que notre priorité est sa satisfaction.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1 features">
                    <div class="icon">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Professionnaliser votre Centre Interne</h5>
                        <p>Nous vous accompagnons dans l’intégration des méthodes, processus et outils des professionnels de la Relation Clients au savoir-être de votre marque.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1 features">
                    <div class="icon">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Sécuriser votre externalisation</h5>
                        <p>Réussir parfaitement l’externalisation de sa Relation Clients est avant tout un transfert d’ADN vers un partenaire.

                            Nous assurons toutes les phases d’accompagnement de ce transfert afin que vous et vos Clients viviez une expérience positive.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>
