<div class="overlay" >
<div id="carouselExampleDark" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="assets/slide1.jpg" class="d-block w-100 carousel-image" alt="">
      <div class="carousel-caption d-none d-md-block">
          <div class="container-fluid">
              <h3 class="small-heading">Bienvenue chez</h3><h1 class="big-heading"> Mezzo</h1><h3 class="small-heading">le Partenaire de la Relation Client Sur-Mesure</h3>
              <div class="d-grid gap-3 d-md-flex justify-content-md-center flex-grid-center">    
                <button (click)="redirect('histoire');" type="button"  class="btn btn-outline-light btn-lg  button-effect">En savoir plus</button>
                <button (click)="redirect('contact');" type="button"   class="btn btn-outline-light btn-lg button-effect ">Nous contacter</button>
              </div>
          </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/slide2.jpg" class="d-block w-100 carousel-image" alt="">
      <div class="carousel-caption d-none d-md-block">
        <div class="container-fluid">
          <h3 class="small-heading">Bienvenue chez</h3><h1 class="big-heading"> Mezzo</h1><h3 class="small-heading">le Partenaire de la Relation Client Sur-Mesure</h3>
          <div class="d-grid gap-3 d-md-flex justify-content-md-center flex-grid-center">    
            <button (click)="redirect('histoire');" type="button" class="btn btn-outline-light btn-lg  button-effect">En savoir plus</button>
            <button (click)="redirect('contact');" type="button"  class="btn btn-outline-light btn-lg button-effect ">Nous contacter</button>
          </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <img src="assets/slide3.jpg" class="d-block w-100 carousel-image" alt="">
      <div class="carousel-caption ">
        <div class="container-fluid">
          <h3 class="small-heading">Bienvenue chez</h3><h1 class="big-heading"> Mezzo</h1><h3 class="small-heading">le Partenaire de la Relation Client Sur-Mesure</h3>
          <div class="d-grid gap-3 d-md-flex justify-content-md-center flex-grid-center">    
          <button (click)="redirect('histoire');" type="button" class="btn btn-outline-light btn-lg  button-effect">En savoir plus</button>
          <button (click)="redirect('contact');" type="button"  class="btn btn-outline-light btn-lg button-effect">Nous contacter</button>
        </div>
      </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<app-expertise></app-expertise>



<app-services></app-services>