<div class="bg-section"style="background-image: url(assets/page-title-background.jpg)">
  <h2 class="page-title">Contacts</h2>
</div>

  <div id="contact" class="contact-area section-padding">
        <div class="container">										
          <div class="section-title text-center">
            <h1>Contactez-Nous !</h1>
            <p>Besoin d'informations sur les activités, les services ou les opportunités de travail offertes par Mezzo ?
              Laissez-nous un message en remplissant notre formulaire de contact, et nos conseillers reviendrons vers vous dans les plus brefs délais pour répondre à toutes vos questions.</p>
          </div>					
          <div class="row">
            <div class="col-lg-7">	
              <div class="contact">
                <form class="form" name="enq" #addFor="ngForm" (ngSubmit)="onAddReclamation(addFor)"  >
                  <div class="row">
                    <div class="form-group col-md-6">
                      <input type="text" ngModel name="nom" id="nom" class="form-control" placeholder="Nom" required="required">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" ngModel name="prenom" id="prenom" class="form-control" placeholder="Prénom" required="required">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="email" ngModel name="email" id="email" class="form-control" placeholder="Email" required="required">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" ngModel name="telephone" id="telephone" class="form-control" placeholder="Téléphone" required="required">
                    </div>
                    <div class="form-group col-md-12">
                      <input type="text" ngModel name="sujet" id="sujet" class="form-control" placeholder="Sujet" required="required">
                    </div>
                    <div class="form-group col-md-12">
                      <textarea rows="8" ngModel  name="message" id="message" class="form-control" placeholder="Votre Message" required="required"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                      <div class="alert alert-success"  *ngIf='isSent' >{{sentMessage}} <i class="fa-solid fa-check"></i></div>
                      <button *ngIf='!isSent' [disabled]="addFor.invalid" type="submit" value="Send message"  class="btn btn-contact-bg" title="Submit Your Message!">Envoyer Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div><!--- END COL --> 
            <div class="col-lg-5">
              <div class="single_address">
                <i class="fa fa-map-marker"></i>
                <h4>Siège social</h4>
                <p><strong>Lille:</strong> 1 ter Avenue de la Marne 59 290 Wasquehal<br>
                  <strong>Tunis:</strong> 12 Rue l’électricité ZI la Charguia I 2035 Tunis – TUNISIE
                </p>
              </div>
              <div class="single_address">
                <i class="fa fa-envelope"></i>
                <h4>Email</h4>
                <p><strong>Lille:</strong> mezzolille@somezzo.com<br>
                  <strong>Tunis:</strong> mezzotunis@somezzo.com
                </p>
              </div>
              <div class="single_address">
                <i class="fa fa-phone"></i>
                <h4>Tel</h4>
                <p>+33(0)3 59 30 53 00</p>
              </div>
              <div class="single_address">
                <i class="fa fa-clock-o"></i>
                <h4>Hoaires de travail</h4>
                <p>Lun - Ven: 08.00 - 16.30.</p>
              </div>					
            </div><!--- END COL --> 
          </div><!--- END ROW -->
        </div><!--- END CONTAINER -->	
  </div>
  <div class="row map">
          <div class="contact-map ">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=mezzolille+mezzotunis&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 433px; min-height: 100%;"></iframe>
          </div>
        </div>

