*{
  font-family: 'Raleway', sans-serif;
  color: #333;
}
/* Container */
.section{
  padding: 7% 10%;
  background-color: #36486b;
}
.container-fluid{
  padding: 5% 10%;
  background-color: #ffffff;
}

.container-fluid h2 {
  font-weight: bold;
  line-height: 1.6;
  color:#36486b;
  font-size: 1.9rem;
  text-align: center;
}
.container-fluid p {
  position: relative;
  padding-top: 0.8rem ;
  text-align: center;
  color: #3d3d3d;
  font-size: 1rem;
  line-height: 1.7rem;
}

/* Title section */
    
.bg-section{
  background-size: cover;
  height: 50vh;
  min-height: 80px;
}
.bg-section h2{
  padding-top: 9% ;
  font-weight: 600;
  font-size: 3rem;
  max-width: 20ch;
  color:#ffffff;
  margin: auto ;
  margin-left: 4%;
}

.small-title h5{
  text-align: center;
  font-weight: 500;
  margin-top: 0;
  color:#3d3d3d;
  padding-top: 7%;
}
/* timeline */

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: #367588;

  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #367588;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #6b81ad;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #36486b;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1.5em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #4D4DFF;
  display: inline-block;
  padding: 8px;
  color: #fff;
  font-size: 1.2rem;
}

.desc {
  position: relative;
  margin: 0 2em 0 0;
  padding: 1em;
  background:  #f0f0f0;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
  font-size: 1rem;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}