<div class="bg-section"style="background-image: url(assets/page-title-background.jpg)">
  <h2 class="page-title">Notre Histoire</h2>
</div>
<div class="container-fluid">
  <h2>14 années au service de nos clients</h2>
  <p>Mezzo, le Partenaire de la Relation Client Sur-Mesure : Depuis 2005, Mezzo oriente l’ensemble de ses énergies à l’amélioration continue de ses engagements de qualité et d’innovation participative. Notre expertise se concentre sur 4 principaux pôles ayant pour objectif d’offrir une relation sur-mesure à tous nos Clients dans un équilibre optimal Efficacité / Satisfaction Clients / ROI.</p>
<div class="small-title">
  <h5>Notre histoire</h5>
</div>

<ul class="timeline">
<!-- Item 1 -->
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      
      <span class="time-wrapper"><span class="time">2005</span></span>
    </div>
    <div class="desc">Création De Mezzo, Filiale Du Groupe 3Si
    </div>
  </div>
</li>

<!-- Item 2 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2005</span></span>
    </div>
    <div class="desc">Ouverture Du 1er Site Mezzo À Tunis</div>
  </div>
</li>

<!-- Item 3 -->
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2009</span></span>
    </div>
    <div class="desc">Mezzo Devient Mandataire D’Intermédiaire D’Assurances (ORIAS)</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2010</span></span>
    </div>
    <div class="desc">Ouverture Du 2ème Site Mezzo À Bordeaux</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2010</span></span>
    </div>
    <div class="desc">Obtention De La Norme NF 345</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2011</span></span>
    </div>
    <div class="desc">Obtention Du Label Responsabilité Sociale</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2012</span></span>
    </div>
    <div class="desc">Mezzo Partenaire Service Clients De L’année Avec Cofidis</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2013</span></span>
    </div>
    <div class="desc">Ouverture Du 3ème Site Mezzo À Barcelone</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2014</span></span>
    </div>
    <div class="desc">MEZZO Devient Mandataire Non Exclusif En Opérations De Banque Et En Services De Paiement (MOBSP)</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2014</span></span>
    </div>
    <div class="desc">Mezzo Partenaire Service Clients De L’année Avec Bruneau</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2015</span></span>
    </div>
    <div class="desc">Mezzo Partenaire Service Clients De L’année Pour La 3ème Fois Avec Cofidis</div>
  </div>
</li>
<!-- Item 3 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2016</span></span>
    </div>
    <div class="desc">Ouverture Du 4ème Site Mezzo À Lille</div>
  </div>
</li>
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2016</span></span>
    </div>
    <div class="desc">Mezzo Partenaire Service Clients De L’année Pour La 2ème Fois Avec Bruneau</div>
  </div>
</li>
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2017</span></span>
    </div>
    <div class="desc">Sortie Du Groupe 3Si Et Reprise De Mezzo Par Ses Managers</div>
  </div>
</li>
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2017</span></span>
    </div>
    <div class="desc">Repositionnement Des Offres & Services Sur Du Sur-Mesure</div>
  </div>
</li>
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2017</span></span>
    </div>
    <div class="desc">Création De L’offre Mezzo Solutions</div>
  </div>
</li>
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2018</span></span>
    </div>
    <div class="desc">Déploiement Des Solutions Mezzo 360</div>
  </div>
</li>
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2018</span></span>
    </div>
    <div class="desc">Obtention De La Norme ISO 18295-1</div>
  </div>
</li>
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2019</span></span>
    </div>
    <div class="desc">Création De L’offre Mezzo Premium</div>
  </div>
</li>
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="hexa"></span>
      <span class="time-wrapper"><span class="time">2019</span></span>
    </div>
    <div class="desc">Mezzo Partenaire Service Clients De L’année Pour La 3ème Fois Avec Bruneau</div>
  </div>
</li>
</ul>
</div>