*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* Container */
.container-fluid{
    padding: 5% 10%;
  }
  .bg-section p{
    color:#ffffff;
    margin: auto ;
    margin-left: 4%;
  
  }
  .bg-section h2{
    padding-top: 8% ;
    padding-bottom: 2%;
    font-weight: 600;
    font-size: 3rem;
    max-width: 20ch;
    color:#ffffff;
    margin: auto ;
    margin-left: 4%;
  }
  
  
  .bg-section{
    background-size: cover;
    height: 50vh;
    min-height: 80px;
  }
  
  h1 {
    font-weight: 900;
    font-size: 2.7rem;
    max-width: 20ch;
  }
  
  p {
    max-width: 60ch;
  }
  
  a {
    color: currentcolor;
  }
  *{
    font-family: "Montserrat" , sans-serif ;
  }

  .border-base-color {
    border-color: #dee2e6 !important;
}

.box-shadow {
    box-shadow: 0 0 25px 0 rgba(0,0,0,.05);
}
.border-extra-thick {
    border-width: 4px!important;
}

.text-center {
    text-align: center!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.bg {
    background-size: cover;
}
.bg-2{
  background-color: transparent;
  color: #36486b;
}
.box{
  min-height: 240px;
}
.title-large {
    font-size: 1.75rem!important;
    line-height: 2.275rem!important;
}
.pricing .price .symbol {
    bottom: 36px;
    position: relative;
}
.title-medium {
    font-size: 1.5rem!important;
    line-height: 2.25rem!important;
}
.title-extra-large-5 {
    font-size: 5rem!important;
    line-height: 5rem!important;
}
.title-extra-large-5::after {
content: '';
  width: 18px;
  display: block;
  position: relative;
  border-bottom: 2px solid #36486b;
  text-align: center;
  margin: auto;
  margin-top: 4%;
}
.bg .title-extra-large-5::after {
  content: '';
    width: 18px;
    display: block;
    position: relative;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    margin: auto;
    margin-top: 4%;
  }
.text-medium {
    font-size: .875rem!important;
    line-height: 1.313rem!important;
}

.m-b-45{
    padding-bottom: 45px;
}
.m-t-45{
    padding-top: 45px;
}
.m-b-20{
  margin-bottom: 25px;
}
