<div class="bg-section"style="background-image: url(assets/page-title-background.jpg)">
    <h2 class="page-title">Nos Chiffres</h2>
    <p class="page-title">Un partenaire à taille humaine, agile et pro actif</p>
  </div>
  <div class="m-b-45 m-t-45">
  <div class="row  m-b-20">
    <div class="col-md-6 col-lg-3 px-lg-0">
        <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
            <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4" style="background-image: url('assets/slider-2-1.jpg')">
                <span class="price d-block mt-4 text-white">
                    <span class="title-extra-large-5">17 ans</span>
                </span>
                <p class="opacity-8 m-0 mt-4 text-small text-white"><i>Création de Mezzo en 2005</i></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 px-lg-0">
        <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
            <div class="pricing-header box bg-2 border-base-color border-bottom border-medium-thick px-3 py-4">
                <span class="price d-block mt-4 ">
                    <span class="title-extra-large-5">2017</span>
                </span>
                <p class="opacity-8 m-0 mt-4 text-small "><i>Sortie Du Groupe 3Si Et Reprise Par Ses Managers</i></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 px-lg-0">
        <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
            <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4"style="background-image: url('assets/slider-2-1.jpg')">
                <span class="price d-block mt-4 text-white">
                    <span class="title-extra-large-5">17 M€</span>
                </span>
                <p class="opacity-8 m-0 mt-4 text-small text-white"><i>De Chiffre D’Affaires</i></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 px-lg-0">
        <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
            <div class="pricing-header box bg-2 border-base-color border-bottom border-medium-thick px-3 py-4">
                <span class="price d-block mt-4 ">
                    <span class="title-extra-large-5">2</span>
                </span>
                <p class="opacity-8 m-0 mt-4 text-small"><i>Implantations: Lille & Tunis</i></p>
            </div>
        </div>
    </div>
    </div>
    <div class="row m-b-20">
        <div class="col-md-6 col-lg-3 px-lg-0">
            <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4"style="background-image: url('assets/slider-2-1.jpg')">
                    <span class="price d-block mt-4 text-white">
                        <span class="title-extra-large-5">1100</span>
                    </span>
                    <p class="opacity-8 m-0 mt-4 text-small text-white"><i>Salariés</i></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 px-lg-0">
            <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                <div class="pricing-header box bg-2 border-base-color border-bottom border-medium-thick px-3 py-4">
                    <span class="price d-block mt-4 ">
                        <span class="title-extra-large-5">35</span>
                    </span>
                    <p class="opacity-8 m-0 mt-4 text-small "><i>Clients Actifs</i></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 px-lg-0">
            <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4"style="background-image: url('assets/slider-2-1.jpg')">
                    <span class="price d-block mt-4 text-white">
                        <span class="title-extra-large-5">56,5 %</span>
                    </span>
                    <p class="opacity-8 m-0 mt-4 text-small text-white"><i>Du CA Produit En Tunisie</i></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 px-lg-0">
            <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                <div class="pricing-header box bg-2 border-base-color border-bottom border-medium-thick px-3 py-4">
                    <span class="price d-block mt-4 ">
                        <span class="title-extra-large-5">13M</span>
                    </span>
                    <p class="opacity-8 m-0 mt-4 text-small "><i>D’interactions En 2017</i></p>
                </div>
            </div>
        </div>
        </div>
        <div class="row m-b-20">
            <div class="col-md-6 col-lg-3 px-lg-0">
                <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                    <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4"style="background-image: url('assets/slider-2-1.jpg')">
                        <span class="price d-block mt-4 text-white">
                            <span class="title-extra-large-5">89 %</span>
                        </span>
                        <p class="opacity-8 m-0 mt-3 text-small text-white"><i>De Nos Clients Recommandent Mezzo En 2018</i></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-lg-0">
                <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                    <div class="pricing-header box bg-2 border-base-color border-bottom border-medium-thick px-3 py-4">
                        <span class="price d-block mt-4 ">
                            <span class="title-extra-large-5">6</span>
                        </span>
                        <p class="opacity-8 m-0 mt-3 text-small "><i>Elu « Service Client De L’année » Pour La 6ème Fois</i></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-lg-0">
                <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                    <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4"style="background-image: url('assets/slider-2-1.jpg')">
                        <span class="price d-block mt-4 text-white">
                            <span class="title-extra-large-5">30,1 %</span>
                        </span>
                        <p class="opacity-8 m-0 mt-4 text-small text-white"><i>Du CA Produit En France</i></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 px-lg-0">
                <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                    <div class="pricing-header box bg-2 border-base-color border-bottom border-medium-thick px-3 py-4">
                        <span class="price d-block mt-4 ">
                            <span class="title-extra-large-5">12</span>
                        </span>
                        <p class="opacity-8 m-0 mt-4 text-small "><i>Langues</i></p>
                    </div>
                </div>
            </div>
            </div>
            <div class="row m-b-20">
                <div class="col-md-6 col-lg-4 px-lg-0">
                    <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                        <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4"style="background-image: url('assets/slider-2-1.jpg')">
                            <span class="price d-block mt-4 text-white">
                                <span class="title-extra-large-5">4</span>
                            </span>
                            <p class="opacity-8 m-0 mt-4 text-small text-white"><i>Certifié ISO 18295-1
                                Certifié COPC
                                En Conformité PCIDSS
                                Orias</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-lg-0">
                    <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                        <div class="pricing-header box bg-2 border-base-color border-bottom border-medium-thick px-3 py-4">
                            <span class="price d-block mt-4 ">
                                <span class="title-extra-large-5">1</span>
                            </span>
                            <p class="opacity-8 m-0 mt-4 text-small "><i>Equipe Projets Opérationnels Expérience Clients</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 px-lg-0">
                    <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
                        <div class="pricing-header box bg border-base-color border-bottom border-medium-thick px-3 py-4"style="background-image: url('assets/slider-2-1.jpg')">
                            <span class="price d-block mt-4 text-white">
                                <span class="title-extra-large-5">48 %</span>
                            </span>
                            <p class="opacity-8 m-0 mt-4 text-small text-white"><i>Du CA Sur Le E-Commerce</i></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>