<div class="bg-section"style="background-image: url(assets/page-title-background.jpg)">
  <h2 class="page-title">Team Mezzo</h2>
  <p class="page-title">Des femmes et des hommes passionnés par la relation clients</p>
</div>

<div class="container-fluid">
  <div class="team">
    <ul class="auto-grid" role="list">
      <li>
        <a href="#" target="_blank" class="profile">
          <img alt="Anita Simmons" src="assets/CBO_4WEB-min.jpg" />
        </a>
        <div class="description">
        <h2 class="profile__name">CHRISTOPHE BOUYSSONNADE</h2>
          <p>Associé, Président, Direction Clients, Développement & Stratégie</p>
        </div>
      </li>
     
      <li>
        <a href="#" target="_blank" class="profile">
          <img alt="Profile shot for Ruby Morris" src="assets/FGU_5WEB-min.jpg" />
        </a>
        <div class="description">
        <h2 class="profile__name">FLORENT GUILLABERT</h2>
          <p>Associé, Directeur des Opérations, Qualité & Services Supports</p>
        </div>
      </li>
      
      <li>
        <a href="#" target="_blank" class="profile">   
          <img alt="Profile shot for Marc Dixon" src="assets/HBA_3WEB-min.jpg" />
        </a>
        <div class="description">
        <h2 class="profile__name">HÉLÈNE BAICHÈRE</h2>
          <p>Directrice Administrative et Financière Groupe</p>
        </div>
      </li>
      <li>
        <a href="#" target="_blank" class="profile">
          <img alt="Profile shot for Nicholas Castro" src="assets/GFO_4WEB-min.jpg" />
        </a>
        <div class="description">
        <h2 class="profile__name">GRÉGORY FOULON</h2>
          <p>Directeur Développement Clients</p>
        </div>
      </li>
  
      <li>
        <a href="#" target="_blank" class="profile">
          <img alt="Profile shot for Marc Dixon" src="assets/VGR_3WEB-min.jpg" />
        </a>
        <div class="description">
        <h2 class="profile__name">VANESSA GRESSIER</h2>
        <p>Directrice Développement Clients</p>
        </div>
    </li>
      <li>
        <a href="#" target="_blank" class="profile">
          <img alt="Profile shot for Celina Harris" src="assets/DPA_3WEB-min.jpg" />
        </a>
        <div class="description">
        <h2 class="profile__name">DOMINIQUE PARIS</h2>
        <p>Directeur Projets, Qualité & DPD</p>
      </div>
      </li>
    
    </ul>
  </div>
</div>