<div class="container-fluid"> 
    <div class="col-lg">
        <div class="section-title">
            <h2>Nos pôles d'expertise</h2>
        </div>
    </div>

  
    <div class="blog-card ">
      <div class="meta">
        <div class="photo" style="background-image: url(assets/expert1.jpg)"></div>
      </div>
      <div class="description" >
        <h2>Gestion de la Relation Clients Omnicanal by Mezzo RC</h2>
        <p > Les prestations de Relation Clients Mezzo intègrent l’ensemble des canaux distants permettant de gérer les interactions Prospects/Clients et marques.</p>
        <p class="read-more">
          <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>

    <div class="blog-card alt ">
      <div class="meta">
        <div class="photo" style="background-image: url(assets/expert2.jpg)"></div>
      </div>
      <div class="description alt-description">
        <h2>La Gestion de la Valeur Clients by Mezzo Premium</h2>
        <p >Fort de son expertise combinée Centre Interne et Centre Externe, Mezzo a développé une offre « Business Partner » 100% axée excellence opérationnelle, adaptabilité permanente et  développement valeur Clients.</p>
        <p class="read-more">
            <a href="#">En savoir plus</a>
        </p>
      </div>
    </div>
    <div class="blog-card  ">
        <div class="meta">
          <div class="photo" style="background-image: url(assets/expert3.jpg)"></div>
        </div>
        <div class="description">
          <h2>Conseil Opérationnel by Mezzo Solutions</h2>
          <p > Mezzo Solutions intervient auprès des entreprises dont le Centre de Relation Clients est internalisé afin de répondre aux besoins d’optimisation des processus, outils et professionnalisation des collaborateurs mais aussi pour vous accompagner pas-à-pas vers une première externalisation réussie.</p>
          <p class="read-more">
            <a href="#">En savoir plus</a>
          </p>
        </div>
      </div>
    </div>
 

