<div class="bg-section"style="background-image: url(assets/page-title-background.jpg)">
    <h2 class="page-title">Nos Valeurs</h2>
  </div>
  <div class="container-fluid"> 
  

    <div class="blog-card ">
      <div class="meta">
        <div class="photo" style="background-image: url(assets/people.jpg)"></div>
      </div>
      <div class="description" >
        <h2>L’équilibre idéal entre les valeurs humaines et entrepreneuriales</h2>
        <p > Nous portons nos engagements au quotidien à travers nos valeurs, dans nos actions, nos décisions, notre communication et dans le développement de l’entreprise car pour réussir ensemble, le savoir-faire n’est rien sans le savoir-être.</p>
      </div>
    </div>
    <div class="col-lg">
      <div class="section-title">
          <p>Nous partagerons tous ensemble 3 principales valeurs essentielles aux développements de Mezzo :</p>
      </div>
  </div>
  <div class="section">
  <div class="row">
    <!-- feaure box -->
    <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
            <div class="icon">
              <i class="fa-solid fa-arrow-trend-up"></i>
            </div>
            <div class="feature-content">
                <h5>L’Engagement Managérial</h5>
                <ul>
                  <li>L’envie de réussir ensemble</li>
                  <li>La valorisation du capital humain</li>
                  <li>Le développement des compétences</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- / -->
    <!-- feaure box -->
    <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
            <div class="icon">
              <i class="fa-solid fa-handshake"></i>
            </div>
            <div class="feature-content">
                <h5>L’intégrité</h5>
                <ul>
                  <li>Le partage et la communication en toute transparence</li>
                  <li>Le respect de l’autre et de l’idée</li>
                  <li>La sécurisation des données et informations clients</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- / -->
    <!-- feaure box -->
    <div class="col-sm-6 col-lg-4">
        <div class="feature-box-1">
            <div class="icon">
              <i class="fa-solid fa-circle-check"></i>
            </div>
            <div class="feature-content">
                <h5>L’excellence opérationnelle</h5>
                <ul>
                  <li>L’atteinte de l’excellence à travers des objectifs d’amélioration continue et la normalisation de nos processus via les normes ISO 18295-1 et COPC</li>
                  <li>L’expertise individuelle et collective</li>
                  <li>La créativité et l’innovation au quotidien</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
</div>


