/*** Heading ***/
h1,
h2,
.fw-bold {
  font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}
* {
  box-sizing: border-box;
}
.page-content{
  padding-top: 10%;
}
section {
  width: 100%;
}